body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #1e2833;
  font-family: Arial, sans-serif;
}

.calculator {
  background: rgba(red, green, blue, alpha);
  padding: 20px;
  border-radius: 20px;
  box-shadow: inset 2px 2px 6px #151a20, inset -2px -2px 6px #2f3a47;
}

.display {
  background: transparent;
  color: #fff;
  text-align: right;
  padding: 15px;
  font-size: 2rem;
  margin-bottom: 20px;
  border: none;
  outline: none;
  width: 100%;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 70px);
  grid-gap: 15px;
  justify-content: center;
}

button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: none;
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
  background: #1c252f;
  box-shadow: inset 2px 2px 5px #151a20, inset -2px -2px 5px #2f3a47;
  cursor: pointer;
  transition: all 0.2s;
}

button:active {
  transform: scale(0.9);
}

.orange {
  background: orange;
  color: black;
}

.green {
  color: #00ff55;
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}
.link{
  hieght: 70px;
  widht:300px;
}
